body {
  background-color: #f4f3e1;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15vh;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
#diarys {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
}
